*{
    margin:0;
    padding:0;
}
img{
	display: block;
}
 .swiper-wrapper img{
		    height:600px;
		    width:100%;
		}	

@font-face {
  font-family: 'iconfont';
  src: url('../font/font_v0uj65ae1en/iconfont.eot');
  src: url('../font/font_v0uj65ae1en/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/font_v0uj65ae1en/iconfont.woff') format('woff'),
  url('../font/font_v0uj65ae1en/iconfont.ttf') format('truetype'),
  url('../font/font_v0uj65ae1en/iconfont.svg#iconfont') format('svg');
}
 i{
  font-family:"iconfont" !important;
   font-size:16px;font-style:normal;
   -webkit-font-smoothing: antialiased;
   -webkit-text-stroke-width: 0.2px;
   -moz-osx-font-smoothing: grayscale;
 	font-size: 24px;
 }
 .nav{
    position:absolute;
		z-index:20;
		top:0;
		width:100%;
		height:60px;
		
		.search{
			background:white;
			line-height: 32px;
			border-radius: 16px;
			position: absolute;
			top:25px;
			right:339px;
			.iconfont4{
				position:absolute;
				left:143px;
				color:#616161;
			}
		}
}
		#iconfont1{
			position:absolute;
			top:28px;
			left:92px;
			z-index:22;
			color:white;
		}
		#iconfont2{
			position:absolute;
			top:30px;
			right:124px;
			color:white;
		}
		#iconfont3{
			position:absolute;
			top:28px;
			right:86px;
			color:white;
		}
		#input{
		    width:170px;
            height:32px;
            background:white;
            line-height: 32px;
            border-radius: 16px;
            position: absolute;
            top:25px;
            right:165px;
            border:1px solid white;  
		}
		
		

.nav-ul{
    list-style: none;
		position: absolute;
		top:30px;
	  left:338px;
	  
		li{
			float:left;
			margin-left:43px;
			position: relative;
		}
		a{
			text-decoration: none;
			display: inline-block;
			color:white;
			font-size:12px;
			//position: absolute;
		}
}
 .swiper-container {
    width: 100%;
    height: 600px;
} 
.nav-hidden{
	width:100%;
	height:270px;
	background: white;
	position:absolute;
	top:0;
    z-index:10;
	padding:0 30px;
    display: none;
 	.nav-hid-bottom{
		height:160px;
		width:100%;
		margin-top:110px;
		a{
			margin-left: 17px;
			img{
				width:90px;
				height:104px;
				margin-left:45px;
			}
		
		}
 }
}
#mark1{
	width:100%;
	height:270px;
	opacity: 0;
	position:absolute;
	top:0;
    z-index:100;
	padding:0 30px;
	
}
 .nav-hidden a{
	text-decoration: none;
	color:#515151;
	font-size:10px;
	display: inline-block;
	p{
		margin-left:47px;
		white-space: pre;
		.iconfont5{
			color:#515151;
			font-size:10px;
		}
	}
	p:nth-of-type(2){
		margin-left:71px;
	}
}
#nav-hidden5{
	height:400px;
	width:100%;
	a{
		display: inline-block;
			img{
				width:1240px;
				height:300px;
				margin-top:-20px;
				margin-left:20px;
			}
		
	}
}
.re-se-hid{
	width:100px;
	height:150px;
	background: white;
	box-sizing: border-box;
	padding-top:5px;
	position:absolute;
	top:64px;
	right:88px;
	p{
		margin-top:10px;
		margin-left:22px;
		a{
		color:#515151;
		font-size:12px;
		text-decoration: none;	
		}
	}
}
.triangle{
	border-left:8px solid rgba(0,0,0,0);
	border-right:8px solid rgba(0,0,0,0);
	border-top:8px solid rgba(0,0,0,0);
	border-bottom:8px solid white;
	width:0;
	position:absolute;
	top:48px;
	right:128px;
}
.re-se{
	display: none;
}